@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {

    display        : flex;
    justify-content: center;
    box-sizing     : border-box;
    font-family    : Roboto;
    font-style     : normal;
    font-weight    : 500;


}

.beckground {
    display         : none;
    position        : absolute;
    width           : 100%;
    height          : 100%;
    background-color: #000000;
    z-index         : 2;
    opacity         : 0.5;
}


menu {
    flex           : 1 1 100%;
    position       : relative;
    padding        : 0;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    max-width      : 2334px;
}

.close-btn {
    stroke-width   : 5px;
    width          : 30px;
    height         : 30px;
    stroke         : #F3F3F3;;
    stroke-linecap : round;
    stroke-width   : 5px;
    stroke-linejoin: round;
    fill           : none;
    position       : absolute;
    right: 3%;
    top: 3%;
}

ul {
    padding: 0;
    margin : 0;
}

.planner {
    flex          : 0 3 1535px;
    display       : flex;
    flex-direction: column;

}

.planner_hader {
    flex           : 0 0 133px;
    border-bottom  : 2px solid #F3F3F3;
    margin         : 83px 138px 102px 142px;
    display        : flex;
    justify-content: space-between;
}

.planner_day {
    font-size: 36px;
}

.searchPanel button {
    margin          : 0;
    border          : 0;
    padding         : 0;
    background-color: transparent;
}

.searchPanel button:first-child {
    margin-right: 52px;
}

.planner_menu {
    flex           : 0 0 1381px;
    margin         : 0 10.137% 96px 10.137%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.planner-menu--time {
    align-items: flex-end;
    position   : relative;
    font-size  : 26px;
    color      : #A4B0C3;
}

.planner-menu--time::before {
    content   : '';
    position  : absolute;
    top       : 50%;
    right     : 0;
    width     : 89.243%;
    height    : 2px;
    background: #F3F3F3;
    flex      : 0 0 31px;

}

.planner-menu--work {
    display    : flex;
    align-items: center;
    width      : 89.243%;
    right      : 0;
    top        : 50%;
    height     : 120px;
    position   : absolute;
}

.planner-menu--work p {
    margin-left: 5.9821%;
    color      : #243D6F;
    font-size  : 28px;
    z-index    : 1;
}

.planner-menu--finance {
    background : rgba(61, 131, 249, 0.15);
    border-left: 6px solid #3D83F9;
}

.planner-menu--management {
    background : rgba(238, 165, 124, 0.15);
    border-left: 6px solid #EEA57C;

}

.planner-menu--desing {
    background : rgba(133, 118, 237, 0.15);
    border-left: 6px solid #8576ED;
}

.calendar {
    background : rgba(42, 46, 65, 0.7);
    margin-left: -1px;
    flex       : 0 1 800px;
    color      : #FFFFFF;
    font-size  : 26px;
}

.calendar_haeder {
    height       : auto;
    margin-bottom: 6.908%;
}

.month {
    position       : relative;
    height         : 214px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.month::before {
    content   : '';
    position  : absolute;
    top       : 100%;
    width     : 74.875%;
    height    : 2px;
    background: #ffffff;
    opacity   : 0.17;


}

.month::after {
    content   : '';
    position  : absolute;
    bottom    : 0;
    width     : 74.875%;
    height    : 2px;
    background: #000000;
    opacity   : 0.17;


}

.month button {
    flex            : 0 0 18px;
    background-color: transparent;
    border          : 0;
    margin          : 0;
    padding         : 0;

}

.month button svg {
    width          : 18px;
    height         : 36px;
    fill           : none;
    stroke         : white;
    stroke-width   : 2px;
    stroke-linecap : round;
    stroke-linejoin: round;
    width          : 100%;
    cursor         : pointer;
}

.manth_name {
    position    : relative;
    flex        : 0 0 40%;
    text-align  : center;
    margin-left : 15.25%;
    margin-right: 15.25%;
    align-items : center;
}


.manth_name input {
    top     : 25%;
    left    : 21%;
    margin  : 32.370 0 32.370 0;
    position: absolute;
    display : block;
    width   : 60%;
    height  : 35%;
}

.daysName {
    position       : relative;
    height         : 120px;
    margin-bottom  : 2px;
    justify-content: center;
    align-items    : center;
}



.daysName ul {
    height         : 130px;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
    list-style     : none;
}

.daysName li {
    flex      : 0 0 10.75%;
    max-width : 86px;
    max-height: 31px;
    opacity   : 0.6;
    text-align: center;
    cursor    : default;

}

.daysNumber {

    display       : flex;
    flex-direction: column;
}

.daysNumber ul {
    flex           : 0 0 130px;
    list-style     : none;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

}

.number_day {
    flex      : 0 0 10.75%;
    max-width : 86px;
    text-align: center;
    cursor    : pointer;
}

.number_day:not(.notActive):hover,
.number_day--active {
    display         : flex;
    background-color: #3C82F9;
    width           : 80px;
    height          : 80px;
    border-radius   : 50%;
    justify-content : center;
    align-items     : center;

}



div .notActive {
    opacity: 0.5;
    cursor : default;
}

.category {
    position      : relative;
    display       : flex;
    flex-direction: column;
    height        : 372px;
    align-items   : center;

}

.category p {
    width     : 74.875%;
    margin-top: 13.561%;
    font-size : 26px;

}

.category::before {
    content   : '';
    top       : 2px;
    position  : absolute;
    width     : 100%;
    height    : 2px;
    background: #ffffff;
    opacity   : 0.17;
    width     : 74.875%;

}

.category::after {
    content   : '';
    position  : absolute;
    top       : 0;
    width     : 100%;
    height    : 2px;
    background: #000000;
    opacity   : 0.17;
    width     : 74.875%;
}

.category_btn {
    width          : 74.875%;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
    align-items    : flex-end;

}

.category_btn button {
    box-sizing   : border-box;
    flex         : 0 0 47.579%;
    height       : 80px;
    margin-top   : 30px;
    border-radius: 12px;
    font-size    : 22px;
    color        : currentColor;

}

.category_color--finance {
    background: #8576ED;
}

.category_color--management {
    background: #F39946;
}

.category_color--desing {
    background: #FF467E;
}

.newWork {
    display      : none;
    position     : absolute;
    top          : 20%;
    width        : 50%;
    height       : 650px;
    z-index      : 10;
    border-radius: 12px;
    font-size    : 22px;
    box-shadow   : 0 0 10px rgba(0, 0, 0, 0.5);

}


.newWork input,
.newWork button,
textarea {
    font-size: 22px;
    color    : currentColor;

}

.newWork form {
    height               : 100%;
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : 0.3fr, repeat(3, 1fr);
    grid-row-gap         : 1em;
    grid-column-gap      : 1em;

}

.newPlanerForm p {
    grid-row-start   : 1;
    grid-column-start: 1;
    grid-column-end  : 3;
    text-align       : center;
    font-size        : 26px;
    margin-top       : 5%;
}

.newPlanner-Lable--time {
    display        : flex;
    align-items    : flex-start;
    justify-content: space-around;
}

.newPlanner-Lable--time input {
    width : 50%;
    height: 30%;
}

.newPlanner-Lable--description {
    grid-row-start   : 3;
    grid-row-end     : 4;
    grid-column-start: 1;
    grid-column-end  : 3;
    display          : flex;
    justify-content  : space-around;
}

.newPlanner-Lable--description textarea {
    width  : 70%;
    height : 100%;
    padding: 1%;
}

.newPlanner-Lable--button {
    display        : flex;
    justify-content: center;
}

.newPlanner-Lable--button:nth-child(0) {
    grid-row-start   : 4;
    grid-column-start: 1;

}

.newPlanner-Lable--button:nth-child(1) {
    grid-row-start   : 4;
    grid-column-start: 2;

}

.newPlanner-Lable--button button {
    height          : 80px;
    width           : 60%;
    margin-top      : 30px;
    border-radius   : 12px;
    background-color: #ffffff;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation        : animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}